<!doctype html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Konstantin Yakovenko">
	<!-- Date: 2011-03-02 -->	
	<title>Konstantin ][ imgur API quick HowTo</title>


<link rel="stylesheet" href="css/style.css" type="text/css" media="all" title="no title" charset="utf-8">

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,lightitalic type="text/css" media="screen" />


</head>

<body>
	<div id="container">
	
	<!-- Heading -->
	
		<div id="heading">

			<h1><a href="/"><img src="files/header.png" alt="My Site Title" /></a></h1>
			
		<div id="navi">	
			<div id="center">
		<ul>
      <li><a href="/">intro</a></li>
      <li><a href="/getKey">keys</a></li>
      <li><a href="/firstContact">first contact</a></li>
	  <li><a href="/cats">cats</a></li>
	  <li><a href="/beyondCats">beyond cats</a></li>
	  <li><a href="/reference">reference</a></li>
		</ul>
			</div>
		</div>
		
 	 	</div>		
		

			
	<!-- CONTENT -->			
	{{{body}}}
	
	<!-- Footer -->
	
	<div id="footer">
		<p>
		2016&#169;Konstantin Yakovenko
	
		</p>
	</div>
	
	
	
	
	</div>
</body>
</html>