<div id="navi"><h4><a name="content">Beyond Cats...</a></h4></div>
	
	<div id="content_border">
	<div id="content">	
		
		<h3>Where From Here?</h3>
		<h4>Other request types:</h4>
				<p>We played around with a request based on tags that we sent to: <br>
				"https://api.imgur.com/3/gallery/t/{tag_name}"<br>
				 but you could base it on any tag you would like or go even <br>
				 further and  explore other types of requests that are based on image ID<br>
				 or album ID or even search with a string. All of those are possibe with<br>
				 simple tweaking of the request that we are already sending. You already know <br>
				 how to extract specific pieces of data from the response.
				 </p>
<br>
		<h4>But...but...What's beyond that?</h4>
				<p>We are a little bit limited with what we can do. That key you got in the beginning<br>
				 that can be used to gain a whole other level of power. You can have users login through<br>
				 you, you can upload and post new images for those users, you can post comments on <br>
				 their behalf, you can send messages to other users... But you have to read up on oAuth.</p>		
<br>
		<h4>Sweet.</h4>
				<p>Yes.</p>							
		
	
		
			<h4 class="nextLink"><a href="/">Back To the Start >></a> </h4>
		
		
	</div>
	</div>