<div id="navi"><h4><a name="content">Beyond Cats...</a></h4></div>
	
	<div id="content_border">
	<div id="content">	
		
		<h3>Where From Here?</h3>
		<h4>Other request types:</h4>
				<p>We played around with a request based on tags that we sent to: <br>
				"https://api.imgur.com/3/gallery/t/{tag_name}"<br>
				 but you could base it on any tag you would like or go even <br>
				 further and  explore other types of requests that are based on image ID<br>
				 or album ID or even search with a string. All of those are possibe with<br>
				 simple tweaking of the request that we are already sending. You already know <br>
				 how to extract specific pieces of data from the response.
				 </p>
<br>
		<h4>But...but...What's beyond that?</h4>
				<p>We are a little bit limited with what we can do. That key you got in the beginning<br>
				 that can be used to gain a whole other level of power. You can have users login through<br>
				 you, you can upload and post new images for those users, you can post comments on <br>
				 their behalf, you can send messages to other users... But you have to read up on oAuth.</p>		
<br>
		<h4>Sweet.</h4>
				<p>Yes.</p>	

		<h4>Below is a slightly more complicated script for random cat pictures:</h4>
			<p>This one uses a button to load the images and instead of using the tag<br>
			it sends a search request to imgur's API search for "cats". Also, we are <br>
			filtering out any albums because we can't display them and we are only <br>
			looking around the first page of the results to keep complexity down...<br>
			Also, it might take a while for the images to load because some are huge....</p>
		
		
		<div class="center"><button id="moreRandomImgur">More Cats!!!</button></div>
		
		<div class="img-desc">
		<img src="" alt="imgur's random image" id="randomImage" width="750px"/></h1>
		</div>
		
		<p>Hopefully this was a nice quick and easy primer on getting something from <br>
		imgur. Now go and explore the API... or enjoy some more pictures of cats.</p>
		
	
		
			<h4 class="nextLink"><a href="/">Back To the Start >></a> </h4>
		
		
	</div>
	</div>
	
		<!-- Check the script file for more details -->
	<script src="imgur.js"></script>