<div id="navi"><h4><a name="content">First Contact</a></h4></div>
	
	<div id="content_border">
	<div id="content">	
		
		<h3>Getting Ready:</h3>
		<h4>What do we do with the key?</h4>
				<p>Now that we have the key we can try using it. For this I'll explain the<br>
				 minimum that you absolutely have to know and then elaborate in more detail later<br>
				 when we start messing with things. For now we just want to test the work<br>
				 we've done up to this point.</p>
				 
				 <br>
				 
				 <p>Below is some code. Create a new folder somewhere and create a new text <br>
				 document. We'll name this one "index.html"<br>
				 Now, copy the code below into it.</p>
				 
		<h3>index.html</h3>
				 
				 <span class="img-desc">
				<iframe width="760px" height="200" src="//jsfiddle.net/yakovenk/69ka421f/6/embedded/html/" allowfullscreen="allowfullscreen" frameborder="1"></iframe>
				</span>
				
				<p>Now make another file in the same directory, name it "script.js" and <br>
				drop in the code below. Make sure that in the first line there you paste in <br>
				your Client ID that we got from imgur instead of NULL so that that line <br>
				ends up looking something like this only with your own ID:<br>
				var clientID = "4563j4mnm4m4k48764";</p>
				
				
		<h3>script.js</h3>
				<span class="img-desc">
				<iframe width="760px" height="300" src="//jsfiddle.net/yakovenk/69ka421f/6/embedded/js/" allowfullscreen="allowfullscreen" frameborder="1"></iframe>
				</span>
				
				<p>Now save the files. And drop the index.html into your favourite browser and <br>
				let's look at what imgur tells us.</p>

		<h3>Response Code:</h3>
		
		<h4>200:</h4>
			<p>We are awesome. Everything functioned beautifully and we are ready to get down to business.</p>
			
		<br>
			
		<h4>403:</h4>
			<p>oh-oh... Did you put in your API key correnctly?</p>
			
		<br>
			
		<h4>Any other code above 300:</h4>
			<p>Make sure you copied everything correnctly. Maybe try again.</p>
			
		<br>
			
		<h4>No numbers at all:</h4>
			<p>Something went terribly wrong. Make sure you copied everything correnctly. Maybe try again.<br>
			Make sure that no symbols or spaces got omitted when ou copied stuff over. Make sure file names<br>
			as specified. Not ".txt"....</p>
		
			<h4 class="nextLink"><a href="/cats">Onward >></a> </h4>
		
		
	</div>
	</div>
	
