<div id="navi"><h4><a name="content">Getting The Key</a></h4></div>
	
	<div id="content_border">
	<div id="content">	
		
		<h3>Api Key:</h3>
		<h4>What is an Api Key?</h4>
				<p>So, first you need to get a key before you can talk to imgur. If you don't,<br>
				 then any requests you send	will just be ignored. So, we need to get a key.</p>
<br>
		<h4>How do I get an Api Key?</h4>
				<p>So, first you need to get a key before you can talk to imgur. If you don't,<br>
				 then any requests you send	will just be ignored. So, we need to get a key.</p>		
					
		
		<h3>Api Key Request Page:</h3>
		<div class="img-desc">
			<img src="files/getKey01.jpg" alt="imgur's request key page" /></h1>
		</div>
		
		<h4>What do I do once I am here?</h4>
				<p>Fill all of this in. All of it.</p>
				
		<h3>Got the Key:</h3>
		<div class="img-desc">
			<img src="files/getKey01.jpg" alt="imgur's request key page" /></h1>
		</div>
		
		<h4>Are we good?</h4>
				<p>We are awesome. Now save these keys for the time being.</p>
		
			<h4 class="nextLink"><a href="/firstContact">Onward >></a> </h4>
		
		
	</div>
	</div>