<div id="navi"><h4><a name="content">First Contact</a></h4></div>
	
	<div id="content_border">
	<div id="content">	
		
		<h3>Response:</h3>
		<h3><a href="" id="response">Getting Ready:</a></h3>

<br>		
		
		<h3>imgur front page:</h3>
		<div class="img-desc">
			<img src="files/getKey01.jpg" alt="imgur's request key page" /></h1>
		</div>
		
		
		<h4>Are we good?</h4>
				<p>We are awesome. Now save these keys for the time being.</p>
		
			<h4 class="nextLink"><a href="/getKey">Onward >></a> </h4>
		
		
	</div>
	</div>
	
	<!-- Check the script file for more details -->
	<script src="imgur.js"></script>