<div id="navi"><h4><a name="content">Intro To The Imgur API</a></h4></div>
	
	<div id="content_border">
	<div id="content">	
		
		<h3>imgur:</h3>
		<h4>What is imgur?</h4>
				<p>imgur is an image hosting site that has an API(Application Programming Interface)<br>
				 that allows us to interact with imgur from the comfort of our own website.</p>
<br>
		<h4>Why do I care?</h4>
				<p>Let's say you are writing a sweet-ass homepage for yourself and you love cats.<br>
				Well, by the end of this guide you'll be able to put a link to a random new image of cats<br>
				from imgur's database that will change every time you refresh the page.<br>
				I wish I loved cats this much.</p>		
<br>
		<h4>Cats? Really?</h4>
				<p>Cats are an example. Imgur's API is quite extensive and this guide is meant to get<br>
				 you up and running with something super simple that you can build on later as you explore further.</p>							
		
		<h3>imgur front page:</h3>
		<div class="img-desc">
			<img src="files/getKey01.jpg" alt="imgur's request key page" /></h1>
		</div>
		
		
		<h4>Are we good?</h4>
				<p>If you are in, let's get started by making some keys...</p>
		
			<h4 class="nextLink"><a href="/getKey">Onward >></a> </h4>
		
		
	</div>
	</div>