
<h2>Test post submit client->server</h2>
<input type="text" name="workoutName" id="workoutName" />
<input type="button" value="Send" id="postSubmit" />

<table id="workoutTable">

</table>


<script src="testClient.js"></script>



