<h2>Hey Brocicle! Here is your todo list:</h2>

<form>
<fieldset>
	<legend>Add a new exercise:</legend>
	<label>Name:</label>
		<input type="text" name="workoutName" id="workoutName" value="Exercise"/>
	<label>Reps:</label>
		<input type="number" name="workoutReps" id="workoutReps" value="0" />
	<label>Weight:</label>
		<input type="number" name="workoutWeight" id="workoutWeight" value="0"/>
	<label>Date:</label>
		<input type="date" name="workoutDate" id="workoutDate" value="2011-11-01"/>
		
		<input type="button" value="Add" id="postAdd" />
	
</fieldset>
</form>


<table id="workoutTable">


</table>


<script src="testClient.js"></script>


